.paginacion{
    display: flex;
    justify-content: space-between;
    padding:$separacion 0;
    
    button{
        background-color: $azul;
        padding: 1rem 3rem;  //1rem arriba abajo, 3rem izquierda derecha
        display: block;
        text-align: center;
        color: $blanco;
        border: none;
        font-weight: $bold;
        text-transform: uppercase;
        font-size: 2rem;

        &.ocultar{
            visibility: hidden;  //quitar la visibilidad del objeto sin afectar la posicion
        }

        &:hover{
            cursor: pointer;
        }
    }
}